@font-face {
  font-family: cyl;
  src: url('/assets/fonts/generica.otf');
}

@font-face {
  font-family: cylb;
  src: url('/assets/fonts/generica_bold.otf');
}

.statusText {
  font-family: cyl;
  color: #fff;
  font-size: 18px;
}

.header-img {
  -webkit-box-shadow: 0px -1px 40px 10px rgba(240,156,130,1);
  -moz-box-shadow: 0px -1px 40px 10px rgba(240,156,130,1);
  box-shadow: 0px -1px 40px 10px rgba(240,156,130,1);
}