  <span class="mdl-layout-title">
    <mdl-icon svgSrc="/mybc/assets/images/logo.svg" class="menu-logo"></mdl-icon>
    <div class="menu-line"></div>
  </span>
  <nav class="mdl-navigation">
    <a routerLink="/dashboard/webphone" class="mdl-navigation__link">
      <img src="/mybc/assets/images/webphone.png" class="menu-image-webphone" />
      <div class="menu-title-webphone">WebPhone</div>
    </a>
    <a routerLink="/dashboard/cdr" class="mdl-navigation__link">
      <img src="/mybc/assets/images/cdr.png" class="menu-image-llamadas" />
      <div class="menu-title-llamadas">Llamadas</div>
    </a>
    <a routerLink="/dashboard/contacts" class="mdl-navigation__link">
      <img src="/mybc/assets/images/contact.png" class="menu-image-contactos" />
      <div class="menu-title-contactos">Contactos</div>
    </a>
    <a routerLink="/dashboard/conference" class="mdl-navigation__link"> 
      <img src="/mybc/assets/images/conference.png" class="menu-image-conferencia" />
      <div class="menu-title-conferencia">Conferencia</div>
    </a>
    <a routerLink="/dashboard/videoconference" class="mdl-navigation__link">
      <img src="/mybc/assets/images/conference.png" class="menu-image-conferencia" />
      <div class="menu-title-conferencia">VideoConferencia</div>
    </a>    
    <a routerLink="/dashboard/voicemail" class="mdl-navigation__link">
      <img src="/mybc/assets/images/voicemail.png" class="menu-image-voicemail" />
      <div class="menu-title-voicemail">Voicemail</div>
    </a>
    <a routerLink="/dashboard/followme" class="mdl-navigation__link">
      <img src="/mybc/assets/images/followme.png" class="menu-image-followme" />
      <div class="menu-title-followme">Sigueme</div>
    </a> 
    <a routerLink="/dashboard/setup" class="mdl-navigation__link">
      <img src="/mybc/assets/images/setup.png" class="menu-image-setup" />
      <div class="menu-title-setup">Configuración</div>
    </a>
  </nav>