@font-face {
    font-family: cylb;
    src: url('/mybc/assets/fonts/c&lb.ttf');
}

.md-toolbar {
    background-color: #000;
    min-height: 70px;
}

.md-sidenav {
  width: 80px;
}

.md-nav-list {
    font-family: cylb;
    color: #fff !important;
}

.md-list-item {
    text-indent: 0px;
    margin-bottom: 2px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fff !important;
    min-height: 52px; 
}

.md-list-item a {
    font-family: cylb;
    text-align: center;
    text-decoration: none;
    color: #fff !important;
}

.md-nav-list .md-list-item:hover {
    text-decoration: none;
    color: #000;
    background: rgb(176,206,31);
}

.md-nav-list .md-list-item:active,
.md-nav-list .md-list-item:focus {
    text-decoration: none;
}

.menu-line {
    display: block;
    height: 8px;
    background: rgb(176,206,31);
}

.menu-logo {
    width: 76.65px;
    height: 47.25px;
}

.menu-image {
    width: 32px;
    height: 32px;
}

.menu-image-webphone {
    width: 32px;
    height: 32px;
}

.menu-title-webphone {
    font-size: 12px;
}

.menu-image-llamadas {
    width: 32px;
    height: 32px;
}

.menu-title-llamadas {
    font-size: 14px;
}

.menu-image-contactos {
    width: 32px;
    height: 32px;
}

.menu-title-contactos {
    font-size: 12px;
}

.menu-image-conferencia {
    width: 32px;
    height: 32px;
}

.menu-title-conferencia {
    font-size: 12px;
}

.menu-image-voicemail {
    width: 32px;
    height: 32px;
}

.menu-title-voicemail {
    font-size: 12px;
}

.menu-image-followme {
    width: 62px;
    height: 32px;
}

.menu-title-followme { 
    font-size: 12px;
}

.menu-image-setup {
    width: 32px;
    height: 32px;
}

.menu-title-setup {
    font-size: 12px;
}
/*

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 80px;
    height: 100%;
    margin-left: -250px;
    font-size: 12px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 80px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

*/

/* Sidebar Styles */

/*
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 80px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 0px;
    margin-bottom: 2px;
    text-align: center;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: rgb(176,206,31);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 66px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 80px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
*/