<mdl-card class="card">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop">
          <mdl-textfield label="Nombre" autofocus type="text" formControlName="conferenceName" floating-label></mdl-textfield>
        </div>
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop">
          <input type="date" style="width: 30%; font-size:10px;">
<input type="time" style="width: 30%; font-size:10px;">
<input type="time" style="width: 30%; font-size:10px;">
</div>
</div>
</div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop">
        <mdl-card class="card_participants" style="display:flex; flex-flow:row">
<div style="max-width: 88px; width: 88px; display: flex; flex-flow: column">
<img src="/mybc/assets/images/headerconference.svg" style="width:88px">
<div style="height: 100%; background-color: rgb(176,203,31);"></div>
</div>
<table style="width: calc(100% - 128px);">
<tbody>
  <tr>
    <td>
      <img src="/mybc/assets/images/contactheader.svg">
    </td>
    <td>
      <mdl-textfield label="Contacto" type="text" formControlName="contactName01" floating-label></mdl-textfield>
    </td>
    <td>
      <img src="/mybc/assets/images/phonenumber.svg">
    </td>
    <td>
      <mdl-textfield label="Teléfono" type="text" formControlName="contactPhone01" floating-label></mdl-textfield>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <img src="/mybc/assets/images/contactheader.svg">
    </td>
    <td>
      <mdl-textfield label="Contacto" type="text" formControlName="contactName01" floating-label></mdl-textfield>
    </td>
    <td>
      <img src="/mybc/assets/images/phonenumber.svg">
    </td>
    <td>
      <mdl-textfield label="Teléfono" type="text" formControlName="contactPhone01" floating-label></mdl-textfield>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <img src="/mybc/assets/images/contactheader.svg">
    </td>
    <td>
      <mdl-textfield label="Contacto" type="text" formControlName="contactName01" floating-label></mdl-textfield>
    </td>
    <td>
      <img src="/mybc/assets/images/phonenumber.svg">
    </td>
    <td>
      <mdl-textfield label="Teléfono" type="text" formControlName="contactPhone01" floating-label></mdl-textfield>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <img src="/mybc/assets/images/contactheader.svg">
    </td>
    <td>
      <mdl-textfield label="Contacto" type="text" formControlName="contactName01" floating-label></mdl-textfield>
    </td>
    <td>
      <img src="/mybc/assets/images/phonenumber.svg">
    </td>
    <td>
      <mdl-textfield label="Teléfono" type="text" formControlName="contactPhone01" floating-label></mdl-textfield>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <img src="/mybc/assets/images/contactheader.svg">
    </td>
    <td>
      <mdl-textfield label="Contacto" type="text" formControlName="contactName01" floating-label></mdl-textfield>
    </td>
    <td>
      <img src="/mybc/assets/images/phonenumber.svg">
    </td>
    <td>
      <mdl-textfield label="Teléfono" type="text" formControlName="contactPhone01" floating-label></mdl-textfield>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <img src="/mybc/assets/images/contactheader.svg">
    </td>
    <td>
      <mdl-textfield label="Contacto" type="text" formControlName="contactName01" floating-label></mdl-textfield>
    </td>
    <td>
      <img src="/mybc/assets/images/phonenumber.svg">
    </td>
    <td>
      <mdl-textfield label="Teléfono" type="text" formControlName="contactPhone01" floating-label></mdl-textfield>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <img src="/mybc/assets/images/contactheader.svg">
    </td>
    <td>
      <mdl-textfield label="Contacto" type="text" formControlName="contactName01" floating-label></mdl-textfield>
    </td>
    <td>
      <img src="/mybc/assets/images/phonenumber.svg">
    </td>
    <td>
      <mdl-textfield label="Teléfono" type="text" formControlName="contactPhone01" floating-label></mdl-textfield>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <img src="/mybc/assets/images/contactheader.svg">
    </td>
    <td>
      <mdl-textfield label="Contacto" type="text" formControlName="contactName01" floating-label></mdl-textfield>
    </td>
    <td>
      <img src="/mybc/assets/images/phonenumber.svg">
    </td>
    <td>
      <mdl-textfield label="Teléfono" type="text" formControlName="contactPhone01" floating-label></mdl-textfield>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <img src="/mybc/assets/images/contactheader.svg">
    </td>
    <td>
      <mdl-textfield label="Contacto" type="text" formControlName="contactName01" floating-label></mdl-textfield>
    </td>
    <td>
      <img src="/mybc/assets/images/phonenumber.svg">
    </td>
    <td>
      <mdl-textfield label="Teléfono" type="text" formControlName="contactPhone01" floating-label></mdl-textfield>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <img src="/mybc/assets/images/contactheader.svg">
    </td>
    <td>
      <mdl-textfield label="Contacto" type="text" formControlName="contactName01" floating-label></mdl-textfield>
    </td>
    <td>
      <img src="/mybc/assets/images/phonenumber.svg">
    </td>
    <td>
      <mdl-textfield label="Teléfono" type="text" formControlName="contactPhone01" floating-label></mdl-textfield>
    </td>
    <td>
    </td>
  </tr>

</tbody>
</table>
<div style="width: 41px; height: auto; background-color: rgb(176,203,31);">
</div>
</mdl-card>
</div>
<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop">
  <mdl-card class="card_parameters">
    <div style="border: 0px solid; border-radius: 10px; background-color: rgb(176,203,31);">
<mdl-switch mdl-ripple>Llamar y unir a todos los participantes</mdl-switch>
<mdl-switch mdl-ripple>Enviar email de invitación a los participantes</mdl-switch>
<mdl-switch mdl-ripple>Notificar a los participantes que se unan a la conferencia</mdl-switch>
<mdl-switch mdl-ripple>Solicitar contraseña para unirse a la conferencia</mdl-switch>
<mdl-switch mdl-ripple>Grabar la conferencia</mdl-switch>
</div>
<div style="border: 1px solid; border-radius: 10px; display: flex; flex-flow: row;">
<img src="/mybc/assets/images/pwd.svg">
<mdl-textfield label="Administrador" type="text" formControlName="adminPassword" floating-label></mdl-textfield>
<mdl-textfield label="Participante" type="text" formControlName="userPassword" floating-label></mdl-textfield>
</div>
<div style="border: 1px solid; border-radius: 10px; display: flex; flex-flow: row;">
<mdl-textfield label="Descripción" rows="4" maxrows="4" type="text" formControlName="description" ></mdl-textfield>
</div>
<div style="margin: 0 auto;">
  <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
    Guardar
  </button>
</div>

</mdl-card>
</div>
</div>
</div>
</div>
</mdl-card>