<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--hide-phone mdl-cell--2-col-tablet mdl-cell--4-col-desktop"></div>
  <div class="mdl-cell mdl-cell--4-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
<div class="container mybc-password mybc-center mybc-password-width">
  <img id="profile-img" class="profile-img-card" src="assets/images/logo.png" />
  <p></p>
  <div class="card card-container mybc-font mybc-background mybc-center mybc-password-container">
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
      <!-- <span>contraseña</span> -->
      <!-- <div class="mybc-password-input"> -->
          <mdl-textfield name="_userpassword" floating-label autofocus required [(ngModel)]="_userpassword" class="mdl-texfield mybc-password-input"  label="Contraseña"
                    type="password" (keyup.enter)="validatePassword()"></mdl-textfield>        
     <!--   <input type="password" id="_userpassword" class="mybc-password-input" required autofocus [(ngModel)]="_userpassword" name="_userpassword"> -->
     <!--   <span style="color: white;" [ngClass]="{ 'hide': _uservalid }">{{ _usererror_label}}</span> -->
      <!-- </div> -->
      <p></p>
      <button class="btn mybc-password-button" type="button" (click)="validatePassword()">ingresar</button>
    </form>
    <!-- /form -->
    <p></p>
  </div>
  <!-- /card-container -->
</div>
<!-- /container -->
</div>
<div class="mdl-cell mdl-cell--hide-phone mdl-cell--2-col-tablet mdl-cell--4-col-desktop"></div>
</div>