@font-face {
    font-family: cylb;
    src: url('/assets/fonts/c&lb.ttf');
}

body {
    font-family: cylb !important;
}

@media screen and (max-width: 1024px){
    .mdl-layout__drawer-button {
        color: #fff !important;
    }

    .mdl-layout__header {
        padding-left: 0px !important;
    }

    .dashboard-footer {
        padding-left: 10px !important;
    }

    .mdl-layout__header-row {
      height: 96px;
      padding: 0px 40px 0px 40px;
    }

    .mdl-layout__content {
        margin-left: 0px;
        font-family: cylb !important;
    }
}

@media screen and (min-width: 1024px){
    .mdl-layout__drawer-button {
        color: #fff !important;
    }

    .mdl-layout__header {
        padding-left: 0px !important;
    }

    .dashboard-footer {
        padding-left: 10px !important;
    }

    .mdl-layout__header-row {
      height: 96px;
    }

    .mdl-layout__content {
        margin-left: 0px;
        font-family: cylb !important;
    }
}

.in-column {
  padding-top: 24px;
  padding-left: 10px;
  text-transform: capitalize;
}

.status-user-img {
    width: 32px;
    height: 32px;
}

.status-clock-img{
    width: 16px;
    height: 16px;
}
.status-date-img{
    width: 16px;
    height: 16px;
}

.status-user-font {
    font-family: cylb;
    font-size: 14px;
    margin-left: 10px;
    color: #fff;
}

.status-phone-img {
    width: 32px;
    height: 32px;
}

.status-phone-font {
    font-family: cylb;
    font-size: 14px;
    margin-left: 10px;
    color: #fff;
}

.status-time-font {
    float: right;
    font-family: cylb;
    font-size: 14px;
    color: #fff;
}

.mybc-layout .mybc-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}

.mybc-header {
    background-color: #000;
    min-height: 96px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.phone-header {
  padding-top: 30px;
}

.mybc-drawer {
  border: none;
}

.mdl-layout {
    height: 100vh;
}



.mdl-layout-title {
    height: 96px;
    padding-left: 0px !important;
    margin: 0 auto !important;
}

.mdl-layout__drawer {
    font-family: cylb;
    width: 128px;
    height: 100%;
    background: #000;
    text-align: center;
}

.mdl-navigation__link {
    height: 72px;
    padding: 0px 0px !important;
    /*margin: 0 auto !important; */
}

.mdl-navigation__link:hover {
    text-decoration: none;
    color: #000 !important;
    background-color: rgb(176,206,31) !important;
}

.menu-line {
    display: block;
    height: 8px;
    background: rgb(176,206,31);
}

.menu-logo {
     /*width: 76.65px;
    height: 47.25px; */
    width: 96px;
    height: 96px;
}

.menu-image {
    width: 32px;
    height: 32px;
}

.menu-image-webphone {
    width: 40px;
    height: 46px;
}

.menu-title-webphone {
    font-size: 16px;
    color: #fff;
}

.menu-image-llamadas {
  width: 40px;
  height: 46px;

}

.menu-title-llamadas {
  font-size: 16px;
  color: #fff;

}

.menu-image-contactos {
  width: 40px;
  height: 46px;

}

.menu-title-contactos {
  font-size: 16px;
  color: #fff;

}

.menu-image-conferencia {
  width: 40px;
  height: 46px;

}

.menu-title-conferencia {
  font-size: 16px;
  color: #fff;

}

.menu-image-voicemail {
  width: 40px;
  height: 46px;

}

.menu-title-voicemail {
  font-size: 16px;
  color: #fff;

}

.menu-image-followme {
  width: 40px;
  height: 46px;

}

.menu-title-followme {
  font-size: 16px;
  color: #fff;

}

.menu-image-setup {
  width: 40px;
  height: 46px;

}

.menu-title-setup {
  font-size: 16px;
  color: #fff;
}

.status-user-img {
  width: 32px;
  height: 32px;
}

.status-phone-img {
  width: 32px;
  height: 32px;
}

.exit-img {
  width: 32px;
  height: 32px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 96px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 0px;
    margin-bottom: 2px;
    text-align: center;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: rgb(176,206,31);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 70px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
