<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <!-- Status -->
  <header class="mdl-layout__header layout__header" style="background-color: #000; border-radius:0px 0px 20px 20px;" >
   <!--  <div class="mdl-layout-icon" role="button"><i class="material-icons" style="color: #fff;">menu</i></div> -->
    <div class="mdl-layout__header-row">
      <div class="in-column">
        <div class="in-row">
          <img class="status-user-img" src="/mybc/assets/images/user.svg"><span id="name" class="status-user-font">{{ _userFullname }}</span></div>
        <div class="in-row">
          <img class="status-phone-img" src="{{_extensionStatusImageUrl}}"><span id="phone" class="status-phone-font">{{ _userPhone }}</span></div>
      </div>
      <div class="mdl-layout-spacer"></div>
      <dashboard-header class="phone-header"></dashboard-header>
      <!-- aqui colocar los graficos para administrar llamada entrante y saliente -->
      <div class="mdl-layout-spacer"></div>
      <div class="in-column">
        <div class="in-row"><img class="status-clock-img" src="/mybc/assets/images/clock.svg"><span id="name" class="flex-row status-time-font">{{ _data | date:'hh:mm' }}</span></div>
        <div class="in-row"><img class="status-date-img" src="/mybc/assets/images/calendar.svg"><span id="phone" class="flex-row status-time-font">{{ _data | date:'dd/MM/yyyy' }}</span></div>
      </div>
      <div class="in-column">
        <button mdl-button  #logoutButton (click)="_logoutDialog.show()">
          <img class="exit-img" src="/mybc/assets/images/exit.svg" style="cursor:pointer;">
        </button>
      </div>
    </div>
  </header>

  <!-- Menu -->
  <div class="mdl-layout__drawer">
    <header>
      <img src="/mybc/assets/images/logo.svg" class="menu-logo">
    </header>
    <nav class="mdl-navigation">
      <a routerLink="/dashboard/webphone" class="mdl-navigation__link">
        <img src="/mybc/assets/images/webphone2.svg" class="menu-image-webphone" />
        <div class="menu-title-webphone">Webphone</div>
      </a>
      <a routerLink="/dashboard/cdr" class="mdl-navigation__link">
        <img src="/mybc/assets/images/cdr.svg" class="menu-image-llamadas" />
        <div class="menu-title-llamadas">Llamadas</div>
      </a>
      <a routerLink="/dashboard/contacts" class="mdl-navigation__link">
        <img src="/mybc/assets/images/contact.svg" class="menu-image-contactos" />
        <div class="menu-title-contactos">Contactos</div>
      </a>
     <!-- <a routerLink="/dashboard/conferences" class="mdl-navigation__link">
        <img src="/mybc/assets/images/conference.png" class="menu-image-conferencia" />
        <div class="menu-title-conferencia">Conferencia</div>
      </a>
      -->
      <a routerLink="/dashboard/videoconference" class="mdl-navigation__link">
        <img src="/mybc/assets/images/meet.svg" class="menu-image-conferencia" />
        <div class="menu-title-conferencia">Conferencia</div>
      </a>
      <a routerLink="/dashboard/voicemail" class="mdl-navigation__link">
        <img src="/mybc/assets/images/voicemail.svg" class="menu-image-voicemail" />
        <div class="menu-title-voicemail">Voicemail</div>
      </a>
      <a routerLink="/dashboard/followme" class="mdl-navigation__link">
        <img src="/mybc/assets/images/followmewhite.svg" class="menu-image-followme" />
        <div class="menu-title-followme">Sigueme</div>
      </a>


      <!-- <a routerLink="/dashboard/setup" class="mdl-navigation__link">
        <img src="/mybc/assets/images/setup.png" class="menu-image-setup" />
        <div class="menu-title-setup">Configuración</div>
      </a>
      -->
    </nav>
  </div>
  <!-- Content -->
  <main class="mdl-layout__content">
    <router-outlet></router-outlet>
  </main>
  <div class="dashboard-footer">
      <hr style="width: 184px; height: 2px;">
      <img src="/mybc/assets/images/logoanywhere.svg" style="margin:-28px 0px 0px 0px;width:96px;height:32px;">
      <img src="/mybc/assets/images/cloudtools.svg" style="margin:-28px 0px 0px 0px;width:48px;height:32px;">
  </div>
  <Audio id = "audio_remote"  autoplay = "autoplay"></Audio>
  <Audio id = "audio_local"   autoplay = "autoplay"></Audio>
</div>

<mdl-dialog #_logoutDialog [mdl-dialog-config]="{
  clickOutsideToClose: true,
  styles:{'width': '400px'},
  isModal:true,
  openFrom: logoutButton,
  enterTransitionDuration: 400,
  leaveTransitionDuration: 400}">
<h3 class="mdl-dialog__title">Cerrar Sesión</h3>
<div class="mdl-dialog__actions">
    <button mdl-button (click)="_logoutDialog.close(); logout();" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Sí</button>
    <button mdl-button (click)="_logoutDialog.close()" mdl-ripple>No</button>
</div>
</mdl-dialog>
