<mdl-card class="card">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--8-col-desktop">
            <span>Comparta la siguiente ruta: {{ _urlRoom }}</span>
        </div>
        <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--2-col-desktop">
            <button mdl-button mdl-button-type="icon" (click)="start()" title="Iniciar Video Conferencia">
                    <mdl-icon style="font-size:24px;color:rgb(63,165,59);">queue_play_next</mdl-icon>
                </button>
        </div>
        <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--2-col-desktop">
            <button mdl-button mdl-button-type="icon" (click)="dispose()" title="Finalizar Video Conferencia">
                        <mdl-icon style="font-size:24px;color:rgb(63,165,59);">remove_from_queue</mdl-icon>
                    </button>
        </div>
    </div>
    <div style="margin-top:40px;margin-bottom:40px;margin-left:auto;margin-right:auto;text-align:center;" *ngIf="_urlRoom != ''">

      <!-- Twitter -->
      <a [href]="_twitterUrl" title="Compartir en Twitter" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--twitter"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
       <!-- Facebook -->
      <a [href]="_facebookUrl" title="Compartir en Facebook" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--facebook"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
      <!-- Google+ -->
      <a [href]="_googleUrl" title="Compartir en Google+" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--googleplus"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
      <!-- StumbleUpon -->
      <!-- <a href="http://www.stumbleupon.com/submit?url=" title="Share on StumbleUpon" target="_blank" data-placement="top" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--stumbleupon"><i class="fa fa-stumbleupon fa-fw"></i> Stumbleupon</a> -->
      <!-- LinkedIn -->
      <a [href]="_linkedUrl" title="Compartir en LinkedIn" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--linkedin"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>

      </div>
</mdl-card>
<div #videoconference style="width:800px; height: 600px;"></div>